<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <form action="action_page.php" style="border:1px solid #ccc">
        <div class="container" style="width:500px">
            <h2 class="heading" style="color: blue;">Maara Premier League</h2>
            <h2 class="heading">Sign In</h2>
            <p class="heading">Every new friend is a new adventure. Let's get connected</p>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <div>
                <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                </label>
                <span style="float: right;"><a href="#" style="color:dodgerblue;">Forgetten password</a></span>
            </div>
            <div class="clearfix">
                <!-- <button type="button" class="cancelbtn button" style="width: 25%;float: left;">Cancel</button> -->
                <button type="submit" class="signupbtn button" style="width: 25%;float: right;">
                  <a href="/player" style="color: white;text-decoration: none;"> Sign In</a></button>
            </div>
            <div style="margin-top: 30px;">
                <p>Handshake with MPL <a href="/register" style="color:dodgerblue">Go and sign up</a>.</p>

            </div>
        </div>
    </form>

</div>
