<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <form action="action_page.php" style="border:1px solid #ccc">
        <div class="container" style="width:500px">
            <h2 class="heading" style="color: blue;">Handshake with MPL</h2>
            <h2 class="heading">Sign Up</h2>
            <p class="heading">Every new friend is a new adventure. Let's get connected</p>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

            <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>

            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

            <div class="clearfix">
                <button type="button" class="cancelbtn button" style="width: 25%;float: left;">Cancel</button>
                <button type="submit" class="signupbtn button" style="width: 25%;float: right;">Sign Up</button>
            </div>
            <div style="margin-top: 30px;">
                <p>Already a member <a href="/login" style="color:dodgerblue">Go and sign in</a>.</p>

            </div>
        </div>
    </form>

</div>
